{% extends 'base.html' %}

{% block title %}
Education Page
{% endblock %}



{% block content %}
{% if session["user_id"]%}
{% if not session["token"]%}
{% if education %}
    <ul >
      <li>
        <form action="{{ url_for('delete') }}" method="POST">
        <div class="container text-center">
          <div class="row">
            <div class="col p-2 text-start">
              <select class="form-select " name="item2" required>
                <option value="" disabled selected>Education</option>
                {% for val in education %}
                    <option value="{{val.school}}">{{val.school}}</option>
                {%endfor%}
            </select>
            </div>
            <div class="col p-2 text-start">
              <button class="btn " type="submit">Delete</button>
            </div>

          </div>
        </div>
      </form>

      </li>

    </ul>
  {% endif %}
  {% endif %}
  {% endif %}
<div class="row p-2 row-cols-1 row-cols-md-2 g-4">

    <!--From db if token-->
    {% for val in education %}

    <div class="col ">
      <div class="card-fluid ">
        <img src="/uploads/{{val.img}}" class=" card-img-top img-thumbnail rounded mx-auto d-block"  alt="Palm Springs Road"/>
        <div class="card-body"  >
          <h5 class="card-title text-center p-2" style="font-size: 1.7rem;"><dt>{{val.school}}</dt></h5>
          <h4 style="font-size: 1.5rem">Type: {{val.grade}} - {{val.type}}</h4>
          <h5 style="font-size: 1.5rem">Location: {{val.school_loc}}</h5>
          <h4 style="font-size: 1.5rem"></h4>
          <p class="card-text pt-2" style="font-size: 1.2rem">
            {{val.about_edu}}
          </p>
          <p style="font-size: 1.2rem">Start data: {{val.start_date}} &nbsp;&nbsp;&nbsp; End Data: {{val.end_date}}</p>
          <p style="font-size: 1.2rem"><a href="{{val.link_edu}}" target=”_blank”>See more</a></p>
        </div>
      </div>
    </div>
{%endfor%}


  </div>
{% endblock %}

