{% extends 'base.html' %}

{% block title %}
Reset password
{% endblock %}



{% block content %}


<div class="col">
    <div class="card p-5">
      <form  method="POST" enctype = "multipart/form-data" action="#" class="d-grid">
        <dt class="text-center"style="font-size: 1.3rem"><h1>Change password</h1></dt>
        {{form.hidden_tag()}}
        {{form.password.label()}}
        {{form.password(class= "form-control")}}
        {{form.password2.label()}}
        {{form.password2(class= "form-control")}}
        {{form.create(class= "btn btn-outline-primary")}}


    </form>
    </div>
  </div>
  {%endblock%}