{% extends 'base.html' %}

{% block title %}
Skils Page
{% endblock %}



{% block content %}
{% if session["user_id"]%}
{% if not session["token"]%}
{% if skils %}
    <ul >
      <li>
        <form action="{{ url_for('delete') }}" method="POST">
        <div class="container text-center">
          <div class="row">
            <div class="col p-2 text-start">
              <select class="form-select " name="item3" required>
                <option value="" disabled selected>Skils</option>
                {% for val in skils %}
                    <option value="{{val.skill}}">{{val.skill}}</option>
                {%endfor%}
            </select>
            </div>
            <div class="col p-2 text-start">
              <button class="btn " type="submit">Delete</button>
            </div>

          </div>
        </div>
      </form>

      </li>

    </ul>
  {% endif %}
  {% endif %}
  {% endif %}
<div class="row p-2 row-cols-1 row-cols-md-2 g-4">

    <!--From db if token-->
    {% for val in skils %}

    <div class="col ">
      <div class="card-fluid ">
        <img src="/uploads/{{val.img}}" class=" card-img-top img-thumbnail rounded mx-auto d-block"  alt="Palm Springs Road"/>
        <div class="card-body"  >
          <h5 class="card-title" style="font-size: 1.7rem"><dt>{{val.skill}}</dt></h5>
          <h4 style="font-size: 1.5rem">{{val.level}}</h4>
          <p class="card-text" style="font-size: 1.2rem">
            {{val.about_skill}}
          </p>

        </div>
      </div>
    </div>
{%endfor%}

  </div>
{% endblock %}

